
<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
</head>
<body>
	<% include ./nav %>
<div class="container">
	<br>
 	<div class="row">
	    <div class="col-sm"></div>
	    <div class="col-sm-6">
	      	<div class="card">
			  	<div class="card-body">
			  		<h3> <%= tableName%></h3>
					<form action="/dashboard/update?table=<%= tableName%>&primary=<%= primary %>" method="post">
						<% tableDesc.forEach(function(desc){ %>
							<div class="form-group">
						    	<label for="<%= desc.Field %>"><%= desc.Field %> (<%= desc.Type %>)<%if (desc.Null  ==  'NO') { %>
									<span style="color:red;">*</span>
								<% } %></label>				    
							    <%if (desc.Type  ==  'datetime') { %>
									<input class="form-control" id="<%= desc.Field %>" placeholder="<%= desc.Field %>" type="date" name="<%= desc.Field %>" value="<%= tableData[0][desc.Field] %>">
								<% } else if(desc.Type[0]  ==  'i'){ %>
								   	<input class="form-control" placeholder="<%= desc.Field %>" type="mobile" name="<%= desc.Field %>" value="<%= tableData[0][desc.Field] %>">
								<% } else { %>
								   	<input class="form-control" placeholder="<%= desc.Field %>" type="text" name="<%= desc.Field %>" value="<%= tableData[0][desc.Field] %>">
								<% } %>								
							</div>
						<% }) %>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
					<%if (err) { %>
						<div class="alert alert-danger" role="alert">
					 		<%= err %>
						</div>
					<% } %>
				</div>
			</div>
	    </div>
	    <div class="col-sm"> </div>
  	</div>
</div>
</body>
</html>






