<ul class="nav bg-dark justify-content-end">
  <li class="nav-item">
    <p class="nav-link " style="color: white" >Welcome <%= username%>!</p>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color:white;" href="/dashboard" tabindex="-1" >Dashbord</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color:white;" href="/logout" tabindex="-1" >Logout</a>
  </li>
  
</ul>